{% extends 'base.html' %}


{% block body %}
<div class="content" style="padding-bottom: 100px;">
    <h1 style="text-align: center">{{title}}</h1>

    <div class="tab row" style="margin-bottom: 50px;">
    <button class="tablinks three columns" onclick="openTab(event, 'tab-search')">Search</button>
    <button class="tablinks three columns" onclick="openTab(event, 'tab-rawi')">From Feed</button>
    <button class="tablinks three columns" onclick="openTab(event, 'tab-nonr')">Last searches</button>
    <button class="tablinks three columns" onclick="openTab(event, 'tab-suggestions')">Sugestions</button>
    </div>

    <div id="tab-search" class="tabcontent">

    {% if non_repudiations|length < 1 %}
        <h4 style="text-align: center">Nenhuma busca feita ainda! Digite o que deseja abaixo.</h4>
    {% endif %}

        <div id="demonstrative_form" class="form row">
            <form action="/" method="POST">
                <input class="nine columns" placeholder="Ola bap! Gostaria de saber mais sobre startups!" type="text" name="content" id="content">
                <input class=" three columns" type="submit" value="Add Task">
            </form>
        </div>
    </div>

    <div id="tab-rawi" class="tabcontent" style="display: none;">
        <h4 >Last feed imports</h4>
        <table id="last_imports" style="width: 90%; margin-left: 5%;">
            <tr>
                <th>Data</th>
                <th>Sumário</th>
                <th>Categoria</th>
                <th>Source</th>
                <th>Action</th>
            </tr>
        {% for raw_import in raw_imports %}
        <tr>
            <td>{{ raw_import.date_created.date() }} </td>
            <td>{{ raw_import.summary }} </td>
            <td>{{ raw_import.categorie }} </td>
            <td>{{ raw_import.source }}  </td>
            <td> <a>Buscar</a></td>
        </tr>
        {% endfor %}
        </table>
    </div>
    
    <div id="tab-suggestions" class="tabcontent"  style="display: none;">
        <ul class="suggestions-list">
            {% for suggestion in suggestions %}
            <li><button>{{ suggestion }}</button></li>
            {% endfor %}
        </ul>
    
        </div>

    <div id="tab-nonr" class="tabcontent" style="display: none;">
        <h4>Suas últimas buscas</h4>


    {% if non_repudiations|length < 1 %}
        <h4 style="text-align: center">Nenhuma busca feita ainda.</h4>
    {% endif %}


        <table id="last_searches"  style="width: 90%; margin-left: 5%;">
            <tr>
                <th style="width: 60%; " >Busca</th>
                <th>Data</th>
                <th>Actions</th>
            </tr>
            {% for task in non_repudiations %}
                <tr>
                    <td style="width: 60%; " >{{ task.summary }}</td>
                    <td>{{ task.date_created.date() }}</td>
                    <td>
                        <!--<a href="/delete/{{task.id}}">Apagar</a>
                        <br>-->
                        <a >Repetir</a>
                    </td>
                </tr>
            {% endfor %}
        </table>

    </div>
</div>

<script>
    function openTab(evt, cityName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
    }
</script>
       
{% endblock %}
